/* utilities */
* {padding: 0; margin: 0; box-sizing: border-box}
.none-selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
.smaller {
	font-size: 86%
}
/* classes */
html,body {
	height: 100%;
	background-color: #eee;
}
.container {
	display: flex;
	position: relative;
	min-width: 100rem;
	height: 100%;
}
/**************************
*			L E F T
***************************/
.menu {
	height: 100%;
	width: 200px;
	text-align: left;
	padding: 1.5rem 2rem 0;
}
.logo__name {
	font-size: 3rem;
	line-height: 0.8;
	margin: 0 0 0.67em;
}
.site-word {
	font-size: 1.4rem;
}
.menu__list ul {
	color: #888;
	padding: 0;
	list-style: none;
	text-align: left;
	font-size: 1.5rem;
}
.menu__list i {
	opacity: 0;
	font-size: 80%;
}
.menu__list li:hover >h5 >i {
	opacity: 1;
}
.menu__list li:hover >i {
	opacity: 1;
}
ul.sec {
	padding: 0.5rem 1rem 0;
}
.menu__list h5 {
	font-size: 1.5rem;
	line-height: 1.4;
	/*padding: 0.5rem;*/
	font-weight: 400
}
.menu__list li {
	line-height: 1.4;
	padding: 0.5rem;
	cursor: pointer
}
.menu__list li:hover {
	color: #000;
	transition: ease 0.5s;
	/*background-color: rgba(221, 221, 221, 0.53)*/
}
/**************************
*			R I G H T
***************************/
.content {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	
	/*flex-wrap: wrap;*/
	flex-flow: row wrap;
}
.item {
	position: relative;
	background: #fff url(../img/default-placeholder.png) center;
	background-size: cover;
	box-shadow: 0px 1px 1px #ccc;
    transition: all 0.2s ease;
	height: 23rem;
    width: 26rem;
	padding: 0;
	margin: .5rem;
	cursor: pointer;
}
.item--k2 {
	background-image: url(../img/k2_shot.jpg);
	width: 45rem;
}
.item--fidelisedu-1 {
	background-image: url(../img/fidelisedu_shot_1.png);
	width: 35rem;
}
.item--fidelisedu-2 {
	background-image: url(../img/fidelisedu_shot_1.png);
	width: 32rem;
}
.item--fidelisedu-3 {
	background-image: url(../img/fidelisedu_shot_1.png);
	width: 32rem;
}
.item--methane {
	background-image: url(../img/methane_shot.png);
}
.item--everything-tag {
	background-image: url(../img/ev_logo.png);
}
.item--mininpu {
	background-image: url(../img/mi_shot.png);
}
.item--fallarm {
	background-image: url(../img/fa_shot.png);
}
.item--flickr {
	background-image: url(../img/flickr.png);
}
.item--youku1 {
	
}
.item--youku2 {
	
}
.item:hover {
	box-shadow: 0px 3px 18px #a9a9a9;
}
.item__img {
	width: 100%;
	height: 100%;
}
.item__detail-wrapper {
	position: absolute;	
    bottom: 0;
    width: 100%;
	background-color: rgba(255,255,255,.86);
	padding: 1rem;
	font-size: 1.3rem
}
.item__title {
    font-size: 120%;
    line-height: 1.15;
    padding-bottom: .3em;
}