/* utilities */
* {padding: 0; margin: 0; box-sizing: border-box}
.none-selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
.smaller {
	font-size: 86%
}
/* classes */
html,body {
	font-size:62.5%;
	height: 100%;
	
	/*background-color: rgb(231,238,247);*/
    background-image: url('../img/blue-stripe-bg.png');
    background-repeat: repeat;
    background-position: left top;
}
.container {
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items:stretch;
	flex-wrap: nowrap;
	/*flex-flow: row wrap;*/
	
	/*position: relative;*/
	/*min-width: 100rem;*/
	/*height: 100%;*/
}
/**************************
*			L E F T
***************************/
.menu {
	/*display: inline-block;*/
	/*height: 100%;*/
	width: 290px;
	text-align: left;
	padding: 1.5rem 2rem 0;
}
.logo__name {
	font-size: 3rem;
	line-height: 0.8;
	margin: 0 0 0.67em;
}
.site-word {
	font-size: 1.4rem;
}
.menu__list ul {
	color: #888;
	padding: 0;
	list-style: none;
	text-align: left;
	font-size: 1.5rem;
}
.menu__list i {
	opacity: 0;
	font-size: 80%;
}
.menu__list li:hover >h5 >i {
	opacity: 1;
}
.menu__list li:hover >i {
	opacity: 1;
}
ul.sec {
	padding: 0.5rem 1rem 0;
}
.menu__list h5 {
	font-size: 1.5rem;
	line-height: 1.4;
	/*padding: 0.5rem;*/
	font-weight: 400
}
.menu__list li {
	line-height: 1.4;
	padding: 0.5rem;
	cursor: pointer
}
.menu__list li:hover {
	color: #000;
	transition: ease 0.5s;
	/*background-color: rgba(221, 221, 221, 0.53)*/
}
/**************************
*			R I G H T
***************************/
.content {
	/*display: inline-block;*/
}
.item-wrapper {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	/*flex-wrap: wrap;*/
	padding: 1rem;
	flex-flow: row wrap;
}
.item {
	position: relative;
	background: #fff url(../img/default-placeholder.png) center;
	background-size: cover;
	box-shadow: 0px 1px 1px #ccc;
    transition: all 0.2s ease;
	height: 23rem;
    width: 26rem;
	padding: 0;
	margin: .5rem;
	cursor: pointer;
}
.item--k2 {
	background-image: url(../img/k2_shot.jpg);
	width: 45rem;
}
.item--fidelisedu-1 {
	background-image: url(../img/proj-fidelisedu/fidelisedu_sum_shot_1.png);
	background-position: top;
	width: 35rem;
}
.item--fidelisedu-2 {
	background-image: url(../img/proj-fidelisedu/fidelisedu_sum_shot_2.png);
	background-position: top;
	width: 32rem;
}
.item--fidelisedu-3 {
	background-image: url(../img/proj-fidelisedu/fidelisedu_sum_shot_3.png);
	background-position: top;
	width: 32rem;
}
.item--methane {
	background-image: url(../img/methane_shot.png);
}
.item--everything-tag {
	background-image: url(../img/ev_logo.png);
}
.item--mininpu {
	background-image: url(../img/mi_shot.png);
}
.item--fallarm {
	background-image: url(../img/fa_shot.png);
}
.item--flickr {
	background-image: url(../img/flickr.png);
	background-position:bottom;
}
.item--youku1 {
	
}
.item--youku2 {
	
}
.item:hover {
	box-shadow: 0px 3px 18px #a9a9a9;
}
.item__img {
	width: 100%;
	height: 100%;
}
.item__detail-wrapper {
	position: absolute;	
    bottom: 0;
    width: 100%;
	background-color: rgba(233, 239, 248, 0.92);
	padding: 1rem;
	font-size: 1.3rem
}
.item__desc {
	font-style: italic;
}
.item__title {
    font-size: 120%;
    line-height: 1.15;
    padding-bottom: .3em;
	font-weight: 600;
	color:#494F58
}